services:
  testdb:
    build:
      context: .
      dockerfile: MySQLImage
    ports:
      - 3308:3306
      - 33080:33060

  php:
    # image: php:apache
    # image: php:7
    # command: docker-php-ext-install pdo pdo_mysql mysqli
    # command: sh -c "sudo apt install php-mysqli"
    # command: docker-php-ext-install mysqli
    build:
      context: .
      dockerfile: PHPImage
    ports:
      - 82:80
    volumes:
      - ./app:/var/www/html/
      - ./app/images:/var/www/html/images
    depends_on:
      - testdb
    # restart: always

# volumes:
  # mongo-data:
