.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 100%;
    height: 10vh;
    background: linear-gradient(180deg, rgb(244, 97, 97) 0%, rgb(167, 26, 26) 50%, rgba(244, 97, 97) 100%);
    color: #fff;
}
.navbar h2{
    color: white;
    display: inline;
    margin-left: 20px;
}
.menu{
    margin: 10px;
    padding: 20px;
    /* background-color: cornflowerblue; */
    color: white;
    text-decoration: none;
}

.category{
    margin: 0px 10px 0px 10px;
    padding: 3px 20px 3px 20px;
    /* background-color: orangered; */
    color: white;
    text-decoration: none;
}

.delete{
    margin: 0px 10px 0px 10px;
    padding: 5px 20px 5px 20px;
    /* background-color: red; */
    background-color: rgb(167, 26, 26);
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.edit{
    border: none;
    margin: 0px 10px 0px 10px;
    padding: 5px 20px 5px 20px;
    background-color: cadetblue;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.back{
    margin-left: auto;
    text-align: right;
}
.filter{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
}
.clear{
    /* display: inline-block; */
    display: block;
    text-align: right;
    margin-right: 40px;
}
.card {
    padding: 20px;
    width: 250px;
    height: 350px;
    border-radius: 20%;
    background-color: #eee7e7;
    box-shadow: 5px 5px 5px #888888;
    text-align: center;
    margin: 30px;
 }

 .card:hover {
    filter: brightness(90%);
 }

 .card img {
    width: 200px;
    height: 200px;
    border-radius: 20%;
 }

 .card h2 {
    color: #842929;
    margin: 20px;
 }

 .card p {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(53, 173, 61);
    margin: 20px;
 }

 .add {
    border-radius: 20px;
    background-color: rgb(167, 26, 26);
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
 }

 .add:hover {
    filter: brightness(90%);

    cursor: pointer;
 }

 .sidebar {
    width: 17vw;
    background: linear-gradient(90deg, rgb(86, 80, 80) 0%, rgb(43, 27, 27) 50%, rgb(25, 5, 5) 100%);
    color: #fff;
    height: 80vh;
    position: fixed;
    border-radius: 0 10px 10px 0;
    transition: all 2s linear ;
}

.sidebar h1 {
    padding: 15px;
    margin: 30px 0;
}

.hide-sidebar {
    left: -260px;
    transition: all 2s linear ;
}

.list {
    width: 80%;
    height: 60%;
    margin: auto;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toggle {
    position: absolute;
    top: 50%;
    right: -50px;
    background-color: rgb(25, 5, 5);
    width: 50px;
    height: 50px;
    border-radius: 0px 30px 30px 0px;
    font-size: 2rem;
}
.submit-button {
    background-color: rgb(167, 26, 26); /* Green background */
    color: white;              /* White text */
    padding: 7px 20px;        /* Padding inside the button */
    border: none;              /* No border */
    border-radius: 5px;        /* Rounded corners */
    cursor: pointer;           /* Pointer cursor on hover */
    font-size: 16px;           /* Larger font size */
    transition: background-color 0.3s ease; /* Smooth transition */
    margin: 10px;
}

.submit-button:hover {
    background-color: rgb(206, 57, 57); /* Darker green on hover */
}

.submit-button:active {
    background-color: rgb(206, 57, 57); /* Even darker green when clicked */
}

body{
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column;
  }
li{
    flex: 1;
    /* width: 150px; */
    padding: 3px 10px 3px 10px;
    text-align: center;
    white-space: nowrap;      /* Prevent text wrapping */
    overflow: hidden;         /* Hide overflow if text is too long */
    text-overflow: ellipsis;
}
 /* span{
    margin: 0px 10px 0px 10px;
    padding: 5px 20px 5px 20px;
    background-color: deepskyblue;
    color: rgb(32, 27, 67);
    font-weight: bold;
    text-decoration: none;
} */
dialog {
    border: solid 2px rgb(167, 26, 26);;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    box-shadow: 5px 5px 5px #888888;
}
form{
    background-color: #eee7e7;
    border-radius: 25px;
    padding: 20px 70px 30px 50px;
    font-size: 18px;
}
form h2, input, option, select, input::file-selector-button{
    color: #842929;
}
form span{
    padding: 20px;
    color: #842929;
}

@media (max-width: 800px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: 5%;
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media (max-width: 700px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: 5%;
    }
}