.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card{
    border-style: solid;
    border-width: 1px;
    margin: 20px;
    padding: 20px;
}

.topnav{
    display: flex;
    justify-content: flex-end;
}

.menu{
    margin: 10px;
    padding: 20px;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
}

.category{
    margin: 0px 10px 0px 10px;
    padding: 3px 20px 3px 20px;
    background-color: orangered;
    color: white;
    text-decoration: none;
}

.delete{
    margin: 0px 10px 0px 10px;
    padding: 5px 20px 5px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
}

.edit{
    border: none;
    margin: 0px 10px 0px 10px;
    padding: 5px 20px 5px 20px;
    background-color: cadetblue;
    color: white;
    text-decoration: none;
}

.back{
    margin-left: auto;
    text-align: right;
}
.filter{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
}
.clear{
    /* display: inline-block; */
    display: block;
    text-align: right;
    margin-right: 40px;
}

body{
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column;
  }
li{
    flex: 1;
    /* width: 150px; */
    padding: 3px 10px 3px 10px;
    text-align: center;
    white-space: nowrap;      /* Prevent text wrapping */
    overflow: hidden;         /* Hide overflow if text is too long */
    text-overflow: ellipsis;
}
 span{
    margin: 0px 10px 0px 10px;
    padding: 5px 20px 5px 20px;
    background-color: deepskyblue;
    color: rgb(32, 27, 67);
    font-weight: bold;
    text-decoration: none;
}
dialog {
    border: solid 2px red;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
}